<div class="flex four demo">
  <div class="half fourth-600">
      <h2>Charts</h2>


  <a routerLink="/charts/basic" 
  class="button stack"
  routerLinkActive="success">
    Basic
  </a>

    <a routerLink="/charts/shape" 
      class="button stack"
      routerLinkActive="success">
        Shape  
    </a>

     <a routerLink="/charts/barchart" 
     class="button stack"
     routerLinkActive="success">
       Bar Chart
  </a>

 

<a routerLink="/charts/simplepie" 
class="button stack"
routerLinkActive="success">
  Simple Pie
</a>


  <a routerLink="/charts/basic-list" 
  class="button stack"
  routerLinkActive="success">
    Basic List
</a>

  </div>
  <div class="full half-1000">
    <router-outlet>  
    </router-outlet>
  </div>
</div>