<h2>Basic</h2>

<svg xmlns="http://www.w3.org/2000/svg"
width="500" height="40" viewBox="0 0 500 40">

<text x="0" y="35" font-family="Verdana" font-size="35">
Hello, out there
</text>
</svg>

<div class="menu">
  <select [(ngModel)]="chartType" >
    <option value='horizontal'>Horizontal</option>
    <option value='vertical'>Vertical</option>
  </select>
</div>

<div #chart>

</div>


<div #chart2>
  
  </div>

<!--  
<div [ngSwitch]="chartType">
  <div *ngSwitchCase='horizontal' #horizontalChart>
    hello h
  </div>

  <div *ngSwitchCase='vertical' #verticalChart>
    hello v
  </div>


  <div *ngSwitchDefault >
    default
  </div>
</div> -->
